/* animales.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #701694;
    color: #fff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

.container {
    margin: 20px auto;
    max-width: 800px; /* Ajusta el ancho máximo del contenido */
}

h1 {
    text-align: center;
    color: #333;
}

ul {
    padding: 0;
}

li {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #000000;
}

.animal-image {
    max-width: 100%; /* Las imágenes se ajustan al ancho del div padre */
    height: auto; /* Autoajuste de la altura */
}
